@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Raleway:wght@400;500;600;700;800;900&display=swap");
:root {
  --main-font: "Raleway";
  --secondary-font: "Montserrat";
  --main-green: #6bb04d;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--main-font) !important;
  overflow-x: hidden;
  scroll-behavior: smooth !important;
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
